@model IEnumerable<ReadBook.Models.Works>
@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Work List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp;Add Author</a>
    </div>
</div>
<br />
<div>
    <table class="table table-striped border">
        <thead>
            <tr class="table-info">
                <th>
                    @Html.DisplayNameFor(c => c.Book)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.Author)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Book.Name</td>
                    <td>@item.Author.Name</td>
                    <td>
                        <partial name="_ButtonPartial" model="@item.Id"/>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(function(){
            var save = '@TempData["save"]'
            if(save!='') {
                alertify.success(save);
            }
            var edit = '@TempData["edit"]'
            if(edit!='') {
                alertify.success(edit);
            }
            var del = '@TempData["delete"]'
            if (del!='') {
                alertify.error(del);
            }
        })
    </script>
}